@model Rating

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="my-4">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        @if (Model.Description != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
        }
    </dl>
    <div class="d-flex">
        @foreach (var movie in Model.Movies)
        {
            <a asp-controller="Movie" asp-action="Details" asp-route-id="@Model.Id" class="badge badge-info p-1">@movie.Name</a>
        }
    </div>
</div>
<div>
    <a asp-action="List" class="btn btn-primary">Back to List</a>
</div>
