@model MovieListViewModel

@{
    ViewData["Title"] = "Movies";
}

@functions{
    string GetMovieDescription(Movie movie)
    {
        return movie.Description.Length < 150 ? movie.Description : movie.Description.Substring(0, 150) + "...";
    }
}

<h1>@ViewData["Title"]</h1>

<div class="my-4">
    <form id="filterForm" method="get" class="d-flex">
        <div class="input-group h-100">
            <input type="text" asp-for="Filter" class="form-control" placeholder="Search">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <div class="form-group form-inline">
            <select name="genreId" asp-items="ViewBag.Genres" class="form-control mx-2" onchange="submitFilterForm()">
                <option value="">All Genres</option>
            </select>
        </div>
    </form>
</div>

<div>
    @foreach (var item in Model.Movies.Items)
    {
        <div class="card shadow flex-row p-4">
            <img src="~/Files/Images/Movies/@item.ImagePath" alt="@item.Name Image" class="card-img-top" style="width: 90pt; height: 120pt">
            <div class="card-body">
                <h5 class="card-title my-1">@item.Name</h5>
                <div class="my-1">
                    @foreach (var genre in item.Genres)
                    {
                        <div class="badge badge-info p-1">@genre.Name</div>
                    }
                </div>
                <p class="card-text my-1">@GetMovieDescription(item)</p>
            </div>
            <a asp-action="Details" asp-route-id="@item.Id" class="align-self-end">Details</a>
        </div>
    }
</div>

<paged-list model="Model.Movies" action="Index" action-genreId="@(Model.GenreId)" action-filter="@(Model.Filter)"></paged-list>

<script>
    function submitFilterForm() {
        const filterForm = document.getElementById("filterForm");
        filterForm.submit();
    }
</script>
